extends ../layout

block content
  .row.clearfix
    .col-md-4
      img.avatar.center-block(src="#{User.profile.avatar || User.gravatar()}" alt="avatar profile")
    .col-md-8
      h1= User.username
    if User.profile.location
      h4 Location: #{User.profile.location}
    if User.profile.website
      a(href="#{User.profile.website}")= User.profile.website
    if User.profile.bio
      p= User.profile.bio
  if User.profile.favoriteBands
    hr
    br
    .row
      .col-md-6
        h1 Favorite Bands
        .jumbotron
          - var bands = User.profile.favoriteBands.split(',');
          - var best = bands.shift();
          h3
            strong
              a(href="http://en.wikipedia.com/wiki/#{best}" target="_blank")= best
          if bands.length >= 1
            for band in bands
              h3
                a(href="http://en.wikipedia.com/wiki/#{band}" target="_blank")= band
      .col-md-6
        h1 Favorite Genres
        .jumbotron
          - var genres = User.profile.favoriteGenres.split(',');
          for genre in genres
            h3
              strong
                a(href="http://en.wikipedia.com/wiki/#{genre}" target="_blank")= genre

  if User.posts.length >= 1
    hr
    for post in User.posts
      br
      .panel.panel-default
        .panel-body
          h3= post.title
          h6.text-muted Posted on #{moment(post.time).fromNow()} by #{post.author}
          p= post.body
          if post.img
            img.img-responsive(src="#{post.img}")
